:root {
  --white-color: #fff;
  --black-color: #000;
  --app-link: #61dafb;
  --bg-navbar: #02485b;
  --shadow-card: rgba(0, 255, 255, 0.7);
}

:root {
	--font-menus: 1.125rem;
	--font-icon-navbar: 1.875rem;
	--font-size-10: 0.625rem;
	--font-size-11: 0.688rem;
	--font-size-12: 0.75rem;
	--font-size-14: 0.875rem;
	--font-size-16: 1rem;
	--font-size-18: 1.125rem;
	--font-size-20: 1.25rem;
	--margin-test: 800px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
